<%
    let detail = await this.require('./news_detail.fet').detail.call(this);
    if(detail===false){
        this.context.router.redirectTo('/',404);
        return;
    }
    await this.require('./news_detail.fet').article_view_count_add.call(this,{id:detail.id,view_count:detail.view_count+1});
    let article_pre_data = await this.require('./news_detail.fet').article_pre.call(this);
    let article_next_data = await this.require('./news_detail.fet').article_next.call(this);
    // console.log(article_pre_data,article_next_data);
%>
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <title><%-detail.title%></title>
    <script type="text/javascript">
    !function (e, n) { var t = [{ link: "/images/icon/pc_sprite.css", hasImport: !1, dom: "" }, { link: "/images/icon/spriteMobile2x.css", hasImport: !1, dom: "" }, { link: "/images/icon/spriteMobile3x.css", hasImport: !1, dom: "" }], i = function (e, n) { var t = document, i = t.createStyleSheet, o = i ? "rules" : "cssRules", r = i ? "styleSheet" : "sheet", s = t.getElementsByTagName("link"); n || (n = s[s.length - 1]), function t() { (function () { try { return n && n[r] && n[r][o] && n[r][o][0] } catch (e) { return !1 } })() && setTimeout(e, 1) || setTimeout(t, 40) }() }, o = e.documentElement, r = "orientationchange" in window ? "orientationchange" : "resize", s = function () { var r = o.clientWidth || window.screen.width; r && (r = parseInt(Math.min.apply("", [window.screen.width, r])), cx = n.innerWidth || r, r = parseInt(Math.max.apply("", [cx, r])), o.style.fontSize = r > 1024 ? "" : r / 750 * 100 + "px", setTimeout(function () { var n = "undefined" != typeof window, o = Math.round(n ? window.devicePixelRatio || 1 : 2); 1 == (o = o < 4 ? o : 3) && r >= 1025 && (o = "pc_sprite.css"), (2 == o || 2 == o && r < 1025 || 1 == o && r < 1025) && (o = "spriteMobile2x.css"), 3 == o && (o = "spriteMobile3x.css"), window.environment = o; var s = function () { removeStyle = function () { try { for (var e = 0; e < t.length; e++)"" != t[e].dom && -1 == t[e].link.indexOf(window.environment) && (t[e].dom.parentNode.removeChild(t[e].dom), t[e].hasImport = !1); return !0 } catch (e) { return !1 } }, removeStyle() || setTimeout(function () { s() }, 10) }; !function () { for (var n in t) if (-1 != t[n].link.indexOf(window.environment) && !t[n].hasImport) { var o = e.createElement("link"); o.rel = "stylesheet", o.type = "text/css", o.href = t[n].link, t[n].hasImport = !0, t[n].dom = o; try { e.head.appendChild(o), i(function () { s() }, o) } catch (e) { } } }() }, 1)) }; s(), e.addEventListener && (n.addEventListener(r, s, !1), e.addEventListener("DOMContentLoaded", s, !1)) }(document, window);    </script>
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="/images/icon/pc_sprite.css">
        <![endif]-->
    <link rel="stylesheet" type="text/css" href="/styles/default.css">
    <link rel="stylesheet" type="text/css" href="/styles/reset.css">
    <link rel="stylesheet" type="text/css" href="/styles/animate.css">
</head>

<body>
    <div class="wp">
        <div class="header">
            <h1 class="hd_l">
                <a href=""><span class="icon icon-logo"></span></a>
            </h1>
            <div class="hd_c">
                <div class="hd_c_inner">
                    <div class="item">
                        <a href="/index.html" class="hd">
                            首页
                        </a>
                    </div>
                    <div class="item">
                        <div class="hd">
                            全部服务
                        </div>
                        <div class="bd">
                            <a href="dailijizhang.html">代理记账</a>
                            <a href="qiyeshuichou.html">企业税筹</a>
                            <a href="gongshangzhuce.html">工商注册</a>
                            <a href="qiyefawu.html">企业法务</a>
                            <a href="qiyehulian.html">企业互联</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="hd">
                            关于我们
                        </div>
                        <div class="bd">
                            <a href="aboutus.html">关于我们</a>
                            <a href="newslist.html">新闻资讯</a>
                        </div>
                    </div>
                    <div class="item">
                        <a href="#" class="hd">解决方案</a>
                    </div>
                    <div class="item">
                        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=602695861&amp;site=qq&amp;menu=yes" class="hd">在线客服</a>
                    </div>
                </div>
            </div>
            <div class="hd_r">
                <div class="searchbox">
                    <div class="hd"><span class="icon icon-search_white"></span></div>
                    <div class="bd">
                        <input type="text" class="input_text">
                        <button class="btn_search"><span class="icon icon-search_gray"></span></button>
                    </div>
                </div>
                <div class="tel">
                    400-901-0272
                </div>
            </div>
            <div class="mobile-menu">
                <span class="icon icon-menu"></span>
            </div>
        </div>
        <div class="banner">
            <div class="pc-banner">
                <div class="hd">
                    专业企业服务平台
                </div>
                <div class="bd">
                    工商税务代办、代理记账、财务管理咨询、税务筹划、知识产权、法务咨询、企业信息化等多方面企业管理服务于一体的专业化企业服务公司
                </div>
            </div>
            <div class="mobile-banner mobile-banner1">
                <div class="hd">
                    新闻资讯
                </div>
                <div class="bd">
                    NEWS
                </div>
            </div>
        </div>
        <div class="mod-news_detail">
            <div class="div_main">
                <div class="news_statistics">
                    <span class="icon icon-time"></span>发布于<%-new Date(detail.addtime).toLocaleDateString().replace(/\//g,'-');%> | 浏览量:<%-detail.view_count;%>
                </div>
                <div class="container_wp">
                    <h2 class="title"><%-detail.title;%></h2>
                    <div class="container">
                        <%-detail.content;%>
                    </div>
                </div>
                <div class="page-tool">
                    <%if(article_pre_data){%>
                        <a href="/news_article_<%-article_pre_data.id%>.html" class="icon-wp"><span class="icon icon-pre_page"></span>上一篇<span class="txt">：<%-article_pre_data.title;%></span></a>
                    <%} else {%>
                        <a href="#" class="icon-wp"><span class="icon icon-pre_page"></span>上一篇<span class="txt">：没有更多</span></a>
                    <%}%>
                    <div class="line"></div>
                    <%if(article_next_data){%>
                        <a href="/news_article_<%-article_next_data.id%>.html" class="icon-wp"><span class="icon icon-next_page"></span>下一篇<span class="txt">：<%-article_next_data.title;%></span></a>
                    <%} else {%>
                        <a href="#" class="icon-wp"><span class="icon icon-pre_page"></span>下一篇<span class="txt">：没有更多</span></a>
                    <%}%>

                </div>
            </div>
        </div>
        <div class="footer">
            <div class="div_main">
                <div class="item">
                    <div class="hd">服务项目</div>
                    <div class="bd">
                        <a href="dailijizhang.html">代理记账</a>
                        <a href="qiyeshuichou.html">企业税筹</a>
                        <a href="gongshangzhuce.html">工商注册</a>
                        <a href="qiyefawu.html">企业法务</a>
                        <a href="qiyehulian.html">企业互联</a>
                    </div>
                </div>
                <div class="item">
                    <div class="hd">新闻资讯</div>
                    <div class="bd">
                        <a href="newslist.html">新闻资讯</a>
                        <a href="news_detail.html">常见问题</a>
                    </div>
                </div>
                <div class="item">
                    <div class="hd">了解我们</div>
                    <div class="bd">
                        <a href="aboutus.html">关于我们</a>
                        <a href="">联系我们</a>
                    </div>
                </div>
                <div class="pc-item item item-last">
                    <div class="hd">彩葵企服</div>
                    <div class="bd">
                        电话：<a href="tel:400-901-0272">400-901-0272</a>
                    </div>
                </div>
                <div class="qrcode">
                    <div class="img"></div>
                    <div class="pc-txt">
                        创业不容易，扫码更给力
                    </div>
                    <div class="mobile-txt">
                        <a href="tel:400-901-0272">400-901-0272</a>
                        <div class="ext">全国咨询热线</div>
                    </div>
                </div>
            </div>
            <div class="copyright">
                copyright©2020彩葵企服.All Rights Reserved ICP备案号：鲁ICP备17050707号
            </div>
        </div>
    </div>
    <div class="toolbox">
        <a href="" class="item item-talk">
            <div class="icon_wp">
                <span class="icon icon-talk"></span>
            </div>
            在线咨询
        </a>
        <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=602695861&amp;site=qq&amp;menu=yes" class="item item-qq">
            <div class="icon_wp">
                <span class="icon icon-qq"></span>
            </div>
            qq沟通
        </a>
        <a href="tel:15552681446" class="item item-tel">
            <div class="icon_wp">
                <span class="icon icon-tel"></span>
            </div>
            免费电话
        </a>
        <div class="item item-gotop">
            <div class="icon_wp">
                <span class="icon icon-gotop"></span>
            </div>
            回到顶部
        </div>
    </div>
    <a href="" class="online_service">
        <span class="icon icon-online_service"></span>
    </a>
</body>
<script type="text/javascript" src="/scripts/jquery.min.js"></script>
<script type="text/javascript" src="/scripts/visualization.js"></script>
<script type="text/javascript" src="/scripts/common.js"></script>

</html>